* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/*Animação do texto*/
a {
    color: #ffffff;
    text-decoration: none;
    padding: 0px;
}


p, h1,  h2{
    transition: all 400ms linear;

}

p:hover, h1:hover, h2:hover{
    color: #1fb433;
}
/**/

/*Estilização do header da página*/
.header {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    padding: 0;
    transition: all 0.9s ease;
    border-bottom: 2px solid rgba(0, 0, 0, 0.116);

    @starting-style {
        opacity: 0;
        translate: 0 -50px;

    }

}

.content-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}




.content-nav img {
    width: 80px;
    height: auto;
    padding: 0;
    display: block;
    bottom: 0;
}

.header ul {
    list-style: none;
    display: flex;

}

.header ul li a {
    display: block;
    padding: 20px 30px;
    transition: all 400ms;


}

.header ul li a:hover {
    background-color: #14dc2f80;
}
/**/

.space-bar {
    padding: 30px;
    text-align: center;
}

/**/
/*Estilização da Introdução da Página*/
.content-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 0 50px 50px 50px;
    align-items: center;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: black;
}


.intro {
    display: flex;
    color: #000000;
    flex-wrap: wrap;
    text-align: justify;

}

.content-1 img {
    width: 100%;
    height: auto;
    padding-top: 10px;
}
/**/

/*Customização daseção 'História"*/

.content-2{
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #000000;
    width: 100vw;
}

.history{
    color: #ffffff;
    text-align: justify;
    
}

.history p, .history h1,  .history h2{
    padding: 10px;
}

/*Customização da grid de Turismo*/
.fotos-turismo{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    
}

.fotos-turismo div:nth-child(2){
    grid-column: span 2;

}

.content-box{
    padding: 50px;
    text-align: center;
}

.content-box img{
    width: 300px;
    height: 200px;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
}
